#hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../../Images/bgHome.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
  color: white;
}

#hero::after {
  content: "";
  background: linear-gradient(transparent, #00112a);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0.6;
  z-index: -1;
}

#intro {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Libre Baskerville", serif;
}

#intro > h1 {
  font-size: 4rem;
  letter-spacing: 0.2rem;
}

#intro > div {
  margin-top: 10px;
}

#intro p {
  width: 70%;
  opacity: 0.8;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  /* letter-spacing: 0.1rem; */
  margin-top: 0%;
  margin-bottom: 0%;
}

@media only screen and (max-width: 800px) {
  #intro p {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  #intro {
    width: 90%;
  }

  #intro > h1 {
    font-size: 3rem;
  }

  #intro p {
    font-size: 1.2rem;
  }
}
