#reviewContainer {
  margin: 50px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review {
  width: 30%;
  background-color: #000a19;
  box-shadow: 8px -8px 0px 0px #276c73;
  height: 100%;
  border-radius: 15px;
  padding: 30px 20px;
  z-index: 1;
  border: 2px solid #e5af56;
}

.top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.top > img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: auto 0px;
}

.top div {
  margin-left: 5px;
}

.name {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.5rem;
  padding: 0px;
  margin: 0px;
}

.place {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.place img {
  width: 25px;
  height: 25px;
}

.place p {
  font-family: "Nunito", sans-serif;
  color: #e5c558;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  margin: 0px;
  margin-left: 8px;
}

.bottom {
  margin-top: 20px;
}

@media only screen and (max-width: 800px) {
  #reviewContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }

  .review {
    width: 80%;
    margin: auto;
  }
}
